:root{
  --light:#e1e1e1;
  --green:#0eca98;
}
body,h1,h2,h3,h4,h5,h6{
  margin: 0px;

}
#right_Container{
  float: right;
  width: 40vw;
  height: 100vh;
  background-color: var(--green);
  color: var(--light);
  

}
#leftcontainer{
  float: left;
  width: 60vw;
  height: 100vh;
  background-color: var(--light);
}
.up{
  margin-left:  200px;
  margin-top: 170px;
}
.pt {
  margin-left: 200px;
}
.tp{
  margin-left: 200px;
}
.btn{
  margin-left: 240px;
  margin-top: 20px; 
  width: 80px;

}
.main{
  margin-left: 50px;
  color: var(--green);
  margin-top: 25px;
}
.name{
  margin-top: 100px;
  margin-left: 230px;
  color: var(--green);
}
.para{
  margin-left: 230px;
}
.input{
  margin-left: 230px;
   width: 180px;
  /* padding: 5px;
  border-radius: 8%;  */
  
  
}
.pass{
  margin-left: 230px;
  margin-top: 30px;
  width: 180px;
}
.para{
  margin-left: 230px;
}